<!doctype html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109766629-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-109766629-1');
	</script>
	<meta charset="UTF-8">
	<meta name="description" content="EVE Online Reactions profit calculator for the POST-Lifeblood era">
	<meta name="keywords" content="eve,reactions,lifeblood,profit,money,isk">
	<meta name="author" content="Oxed G">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{title}}</title>
	
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=Gvk4J866v5">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=Gvk4J866v5">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=Gvk4J866v5">
	<link rel="manifest" href="/site.webmanifest?v=Gvk4J866v5">
	<link rel="mask-icon" href="/safari-pinned-tab.svg?v=Gvk4J866v5" color="#5bbad5">
	<link rel="shortcut icon" href="/favicon.ico?v=Gvk4J866v5">
	<meta name="msapplication-TileColor" content="#b91d47">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png?v=Gvk4J866v5">
	<meta name="theme-color" content="#ffffff">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

	<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.0/js/responsive.bootstrap4.min.js"></script>

	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.0/css/responsive.bootstrap4.min.css"/>

	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip({container: 'body'})
		})
	</script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
		<a class="navbar-brand" href="/">EVE Online Reactions Calculator</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item {{#if root}}active{{/if}}">
					<a class="nav-link" href="/">Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item {{#if bio}}active{{/if}}">
					<a class="nav-link" href="/biochemical">Biochemical</a>
				</li>
				<li class="nav-item {{#if comp}}active{{/if}}">
					<a class="nav-link" href="/composite">Composite</a>
				</li>
				<li class="nav-item {{#if hyb}}active{{/if}}">
					<a class="nav-link" href="/hybrid">Hybrid</a>
				</li>
				<li class="nav-item {{#if set}}active{{/if}}">
					<a class="nav-link" href="/settings">Settings</a>
				</li>
				<li class="nav-item">
					<a class="nav-link patreon" href="https://www.patreon.com/EVEReactionsCalculator" target="_blank">Patreon</a>
				</li>
                <li class="nav-item">
                    <a class="nav-link demo" href="https://demo.reactions.coalition.space" target="_blank">Version 2.0 Demo</a>
                </li>
			</ul>
		</div>
	</div>
	</nav>

	{{{body}}}

	<footer class="footer bg-dark">
		<div class="container">
			<div class="row">
				<div class="col">
					<span class="text-muted">If this service has helped you, please consider donating some ISK to <strong>Oxed G</strong> - Thanks! | <a href="https://www.patreon.com/EVEReactionsCalculator" target="_blank">Patreon</a></span>
				</div>
				<div class="col-4">
					<span class="text-muted pull-right text-right" data-toggle="tooltip" data-container="body" data-placement="top" title="EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide. All other trademarks are the property of their respective owners. EVE Online, the EVE logo, EVE and all associated logos and designs are the intellectual property of CCP hf. All artwork, screenshots, characters, vehicles, storylines, world facts or other recognizable features of the intellectual property relating to these trademarks are likewise the intellectual property of CCP hf. CCP hf. has granted permission to EVE Reactions Calculator to use EVE Online and all associated logos and designs for promotional and information purposes on its website but does not endorse, and is not in any way affiliated with, EVE Reactions Calculator. CCP is in no way responsible for the content on or functioning of this website, nor can it be liable for any damage arising from the use of this website."><u>CCP Copyright Notice</u></span>							
				</div>
			</div>
		</div>
	</footer>
	<noscript><img src="https://shy.zmiguel.me/ingress/e89a1319-3efb-40ee-87a9-67c0f0f0865c/pixel.gif"></noscript> <script src="https://shy.zmiguel.me/ingress/e89a1319-3efb-40ee-87a9-67c0f0f0865c/script.js"></script>
</body>
</html>
