body {
    padding-top: 56px;
    padding-bottom: 60px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    line-height: 30px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}

.isk::after{
	content: " ISK";
}

.col-sm-12{
	padding: 0 !important;
}

tr.link-row { cursor: pointer; }

.table{
    margin-bottom: 0 !important;
}